.underline_animation {
  text-decoration: none;
  position: relative;
  color: #3366FF;
}

.underline_animation:after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0%;
  border-bottom: 2px solid #3366FF;
  transition: 0.4s;
}

.underline_animation:hover:after {
  width: 100%;
}