DATABASE_URL=database connection
FLASK_APP=app
FLASK_SECRET_KEY=secret_key
GOOGLE_OAUTH_CLIENT_ID=your id
GOOGLE_OAUTH_CLIENT_SECRET=your client secret
OAUTHLIB_RELAX_TOKEN_SCOPE=true
OAUTHLIB_INSECURE_TRANSPORT=true
# TODO: domt forget to change this fucker
