:root {
  --background-color-2: #020203;
  --background-color-1: #0C0C0D;

  /* Default background color */
  --background-color: #121212;

  --background-color1: #171718;
  --background-color2: #1D1D1E;
  --background-color3: #222223;
  --background-color4: #242425;
  --background-color5: #2B2C2C;
}

.background-color {
    background-color: var(--background-color);
    border-color: var(--background-color) !important;
}

.background-color2 {
    background-color: var(--background-color2);
    border-color: var(--background-color2) !important;
}

.background-color3 {
    background-color: var(--background-color3);
        border-color: var(--background-color3) !important;

}

.background-color4 {
    background-color: var(--background-color4);
        border-color: var(--background-color4) !important;

}

.background-color5 {
    background-color: var(--background-color5);
        border-color: var(--background-color5) !important;

}


.form-control, .form-control:focus {
    background-color: var(--background-color4);
    border-color: var(--background-color4);
    caret-color: white;
    color: white;
}


html, body {
  color: white;
}

.dropdown-item {
    background-color: var(--background-color5);
    color: white;
}

.dropdown-menu {
    background-color: var(--background-color5);
}

.dropdown-toggle, .dropdown-toggle:focus {
    background-color: var(--background-color4);
    border-color: var(--background-color4);
}

.input-black, .input-black:focus {
    background-color: var(--background-color-1) !important;
    border-color: var(--background-color-1) !important;
}

.theme-switcher {
     color: rebeccapurple;
}

.theme-switcher:hover {
     color: #59179b;
}

.btn-close {
    background: transparent url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='RGBA(255, 255, 255, 1)'%3e%3cpath d='M.293.293a1 1 0 011.414 0L8 6.586 14.293.293a1 1 0 111.414 1.414L9.414 8l6.293 6.293a1 1 0 01-1.414 1.414L8 9.414l-6.293 6.293a1 1 0 01-1.414-1.414L6.586 8 .293 1.707a1 1 0 010-1.414z'/%3e%3c/svg%3e") center/1em auto no-repeat;
}

.modal-content {
     background-color: var(--background-color5) !important;
}