.underline_animation {
  text-decoration: none;
  position: relative;
  color: #3366FF;
}

.underline_animation:after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0%;
  border-bottom: 2px solid #3366FF;
  transition: 0.4s;
}

.underline_animation:hover:after {
  width: 100%;
}

custom_tooltip {
  position: relative;
  display: inline-block;
  border-bottom: 1px dotted black;
}

.custom_tooltip .custom_tooltiptext {
  visibility: hidden;
  width: 120px;
  background-color: black;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;

  /* Position the tooltip */
  position: absolute;
  z-index: 1;
  bottom: 100%;
  left: 50%;
  margin-left: -60px;
}

.custom_tooltip:hover .custom_tooltiptext {
  visibility: visible;
}

footer {
    width: 100%
}

.card:hover {
    box-shadow: 0 .175rem .75rem rgba(0,0,0,.1) !important;
}

.card {
   box-shadow: 0 .125rem .25rem rgba(0,0,0,.075) !important;
}

.btn-noborder {
        padding: 0;
    border: none;
    background: none;
}

input[type="search"] {
    box-shadow: 0 .125rem .25rem rgba(0,0,0,.075) !important;
}

input[type="search"]:hover {
    box-shadow: 0 .175rem .75rem rgba(0,0,0,.1) !important;
}


.shake_animation {
    -webkit-animation-name: headShake;
    animation-name: headShake;
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-duration: var(--animate-duration);
    animation-duration: var(--animate-duration);
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}

.scale_on_hover {
   animation-timing-function: cubic-bezier(.215,.61,.355,1.000);
   transition: transform .2s;
}

.scale_on_hover:hover {
   transform: scale(1.12);
}
