.underline_animation {
  text-decoration: none;
  position: relative;
  color: #3366FF;
}

.underline_animation:after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0%;
  border-bottom: 2px solid #3366FF;
  transition: 0.4s;
}

.underline_animation:hover:after {
  width: 100%;
}



custom_tooltip {
  position: relative;
  display: inline-block;
  border-bottom: 1px dotted black;
}

.custom_tooltip .custom_tooltiptext {
  visibility: hidden;
  width: 120px;
  background-color: black;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;

  /* Position the tooltip */
  position: absolute;
  z-index: 1;
  bottom: 100%;
  left: 50%;
  margin-left: -60px;
}

.custom_tooltip:hover .custom_tooltiptext {
  visibility: visible;
}



footer {
    width: 100%
}

.card:hover {
    box-shadow: 0 .19rem .9rem rgba(0,0,0,.125) !important;
}

.card {
   box-shadow: 0 .125rem .25rem rgba(0,0,0,.075) !important;
}

.card__outline__animated::before, .card__outline__animated::after {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  transition: opacity 0.38s ease-in-out, transform 0.35s ease-in-out;
  content: "";
  opacity: 0;
  pointer-events: none;
}
.card__outline__animated::before {
  transform: scale3d(0, 1, 1);
  transform-origin: left top;
  border-top: 1px solid #acacac;
  border-bottom: 1px solid #acacac;
}
.card__outline__animated::after {
  transform: scale3d(1, 0, 1);
  transform-origin: right top;
  border-right: 1px solid #acacac;
  border-left: 1px solid #acacac;
}
.card__outline__animated:hover::before, .card__outline__animated:hover::after, .card__outline__animated:focus::before, .card__outline__animated:focus::after {
  transform: scale3d(1,1,1);
  opacity: 1;
}


.btn-noborder {
        padding: 0;
    border: none;
    background: none;
}

input[type="search"] {
    box-shadow: 0 .125rem .25rem rgba(0,0,0,.075) !important;
}

input[type="search"]:hover {
    box-shadow: 0 .175rem .75rem rgba(0,0,0,.1) !important;
}




.shake_animation {
    -webkit-animation-name: headShake;
    animation-name: headShake;
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-duration: var(--animate-duration);
    animation-duration: var(--animate-duration);
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}

.scale_on_hover {
   animation-timing-function: cubic-bezier(.215,.61,.355,1.000);
   transition: transform .2s;
}

.scale_on_hover:hover {
   transform: scale(1.12);
}



