{% extends "layout.html" %}

{% block extra_head %} <title>ReYoutube</title> {% endblock %}

{% block content %}

<div class="container-fluid d-flex justify-content-center">
  <div class="card" style="width: 18rem;">
  <div class="card-body">
    <h5 class="card-title">Search Bar</h5>
    <p class="card-text">Currently the search bar only supports direct video ids.
      So either put in a video id or use a direct link</p>
    <a href="/watch?v=1xIaoqxiZRA" class="card-link">Example link</a>
  </div>
</div>
</div>
{% endblock %}