
{%- macro render_comments(comments, indent, auto_collapse, comments_page) %}

    {%- for comment in comments %}
            <div
                    id = "comment-{{comment.id}}"
                    style=" {% if indent < config.MAX_COMMENT_INDENTATION_LEVEL%} margin-left: {{indent * 5}}% !important; {% endif %}"
                    class="py-1"
            >

                <div class="card card__outline__animated animate__animated animate__zoomIn animate__faster background-color4">


                        <div class="card-img-top d-flex">
                            <!-- TODO: implement profile picture which does not look retarded
                            <div class="profile-picture ps-1 pt-2">
                                <img src={{comment.user.profile_picture}} alt="profile picture" width="26" height="26" class="rounded-circle img-fluid"
                                    onerror="if (this.src != '/static/images/profile_picture_fallback.jpg') this.src = '/static/images/profile_picture_fallback.jpg';">
                            </div>
                            -->
                            <div class="card-body pb-1" style="width: 100%;">
                            <div class="d-flex flex-row justify-content-between">
                                <!-- Comment Username and Creation date-->
                                <div class="btn-group dropup" href="">
                                    <h6 class="card-subtitle mb-2 text-muted" id="comment-title" data-bs-toggle="dropdown">
                                        {{comment.user.username}} - {{comment.created_at|yt_strftime}} {{"(Edited)" if comment.is_edited else ""}}
                                    </h6>


                                    <ul class="dropdown-menu">
                                       <li>
                                           <div class="d-flex">
                                               <div class="profile-picture ps-1 pe-2" style="padding: .25rem 1rem;">
                                                <img src={{comment.user.profile_picture}} alt="profile picture" width="32" height="32" class="rounded-circle img-fluid"
                                                    onerror="if (this.src != '/static/images/profile_picture_fallback.jpg') this.src = '/static/images/profile_picture_fallback.jpg';">
                                            </div>
                                                <a class="dropdown-item ps-0">Userid: {{comment.user.id}}</a>
                                           </div>
                                       </li>
                                    </ul>
                                </div>





                                <div class="comment-options d-flex flex-row">
                                    {% if comment.user == current_user %}

                                        <form style="display: none;" id="comment-{{comment.id}}-save-option"
                                              action="{{url_for('watch', page=comments_page)}}" method="POST" class="px-1">
                                            <input type="hidden" name="action" value="edit">
                                            <input type="hidden" name="comment_id" value="{{comment.id}}">
                                            <input id="comment-{{comment.id}}-save-value" type="hidden" name="message" value="">
                                            <input type="hidden" name="video_id" value="{{video_id}}">

                                            <button id="comment-{{comment.id}}-save-submit" style="display: none;" type="submit"></button>
                                            <button class="btn btn-link p-0 underline_animation" type="button"
                                                    onclick="save_comment({{comment.id}})"
                                                    style="margin-bottom: .5rem; margin-top: -0.4rem;">
                                                Save
                                            </button>
                                        </form>

                                        <div class="pe-1" style="display: block;">
                                            <button class="btn p-0 underline_animation" type="button"
                                                    id="comment-{{comment.id}}-edit-option"
                                                    onclick="edit_comment({{comment.id}})"
                                                    style="margin-bottom: .5rem; margin-top: -0.4rem; color: var(--bs-primary)">
                                                Edit
                                            </button>
                                        </div>

                                        <div class="pe-1" style="display: none;" id="comment-{{comment.id}}-abort-option">
                                            <button class="btn p-0 underline_animation text-muted" type="button"
                                                    onclick="edit_comment({{comment.id}})"
                                                    style="margin-bottom: .5rem; margin-top: -0.4rem;">
                                                Abort
                                            </button>
                                        </div>

                                        <form action="{{url_for('watch', page=comments_page)}}" method="POST">
                                            <input type="hidden" name="action" value="delete">
                                            <input type="hidden" name="comment_id" value="{{comment.id}}">
                                            <input type="hidden" name="video_id" value="{{video_id}}">

                                            <button type="button" class="btn p-0 fs-6 underline_animation"
                                                    data-bs-toggle="modal" data-bs-target="#delete-{{comment.id}}-confirm"
                                                    style="margin-bottom: .5rem; margin-top: -0.4rem; color: red;">
                                                Delete
                                            </button>
                                            <!-- Comment deletion confirm modal -->
                                            <div id="delete-{{comment.id}}-confirm" class="modal"  tabindex="-5000" aria-labelledby="deleteCommentModalLabel" aria-hidden="true">
                                                  <div class="modal-dialog modal-sm my-2 py-0">
                                                    <div class="modal-content">

                                                          <div class="modal-body py-1 my-0">
                                                            Delete your comment permanently?
                                                          </div>
                                                          <div class="modal-footer py-1 my-0">
                                                              <form action="{{ url_for('logout') }}" method="GET">
                                                                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                                                                <button type="submit" class="btn btn-danger">Delete</button>
                                                              </form>
                                                          </div>
                                                    </div>
                                                  </div>
                                            </div>
                                        </form>
                                    {% endif %}
                                </div>
                            </div>

                            <div class="container m-0">
                              <div class="row">
                                <div class="col p-0">
                                  <div class="read_more">
                                        <p class="collapse card-text my-0" id="comment-content-{{comment.id}}">
                                            <a href="#comment-{{comment.parent.id}}">{% if indent >= config.MAX_COMMENT_INDENTATION_LEVEL%} @{{comment.parent.user.username}}{% endif %}</a>
                                            {{comment.comment}}

                                        </p>
                                      {% if comment.comment|length > config["COMMENT_MAX_SHOW"] %}
                                        <a class="collapsed btn btn-link p-0 mt-1 mb-2 read_more_link" data-bs-toggle="collapse"
                                              data-bs-target="#comment-content-{{comment.id}}"
                                           href="#comment-content-{{comment.id}}"
                                              aria-expanded="false" aria-controls=".reply-input">
                                        </a>
                                      {% endif %}
                                  </div>
                                </div>
                              </div>
                            </div>

                          <!-- Textarea for editing a comment-->
                          <div id="comment-{{comment.id}}-edit" class="comment-edit-area form-floating" style="display: none;">
                                <textarea style="height: 100px;" class="form-control" placeholder="Write a new comment content here" id="comment-{{comment.id}}-input-textarea"></textarea>
                                <label for="comment-{{comment.id}}-input-textarea">Comment content</label>
                          </div>

                          <div class="comment-interactions d-flex pt-2">
                              <!--TODO: implement comment like and dislike options-->
                              <div class="comments-upvote pe-3">
                                    <button class="btn btn-link p-0  comments-upvote-button" type="button" data-bs-toggle="collapse"
                                        aria-expanded="false" aria-controls=".reply-input" onclick="upvote_comment({{comment.id}})">
                                        <svg data-feather="thumbs-up" id="comment-{{comment.id}}-upvote-svg" class="comment-interaction
                                        {% if current_user.is_authenticated %}
                                            {{'interacted-active' if current_user.has_upvoted_comment(comment)}}
                                        {% endif %}">
                                        </svg>
                                    </button>
                                    <span class="align-bottom" id="comment-{{comment.id}}-upvote-count" style="font-size: 0.85rem !important;">
                                        {{comment.upvotes}}
                                    </span>
                              </div>

                              <div class="comments-downvote pe-3">

                                    <button class="btn btn-link p-0 pe-1" type="button" data-bs-toggle="collapse"
                                        aria-expanded="false" aria-controls=".reply-input" onclick="downvote_comment({{comment.id}})">
                                        <svg data-feather="thumbs-down" id="comment-{{comment.id}}-downvote-svg" class="comment-interaction
                                         {% if current_user.is_authenticated %}
                                            {{'interacted-active' if current_user.has_downvoted_comment(comment)}}
                                        {% endif %}">>
                                        </svg>
                                    </button>

                                    <span class="align-bottom" id="comment-{{comment.id}}-downvote-count" style="font-size: 0.85rem !important;">
                                        {{comment.downvotes}}
                                    </span>
                              </div>

                              <div class="comments-reply pt-1">
                                    <button class="btn btn-link p-0 align-top" type="button" data-bs-toggle="collapse"
                                          data-bs-target="#reply-input-{{comment.id}}"
                                          aria-expanded="false" aria-controls=".reply-input">
                                        Reply
                                    </button>
                              </div>
                          </div>

                      </div>
                        </div>



                     {% if comment.replies|list|length > 0%}
                          <button class="btn btn-link p-0 dropdown-toggle" type="button" data-bs-toggle="collapse"
                                  data-bs-target="#comment-replies-{{comment.id}}"
                                  aria-expanded="false" aria-controls="comment-replies-{{comment.id}}">
                             Show {{ comment.replies|list|length }} more replies
                          </button>
                     {% endif %}

                </div>
                        <!-- Input for a reply-->
                        <div id="reply-input-{{comment.id}}" class="collapse">
                                 <form class="input-group mb-3 py-2"
                                       action="{{url_for('watch', page=comments_page)}}" method="POST">
                                    <input type="text" class="form-control" name="message"
                                           placeholder="Reply to {{ comment.user.username}}"
                                           aria-label="Comment message" aria-describedby="button-addon2">
                                     <input type="hidden" name="action" value="reply">
                                     <input type="hidden" name="comment_id" value="{{comment.id}}">
                                     <input type="hidden" name="video_id" value="{{video_id}}">

                                     <button class="btn btn-outline-primary" type="submit" id="button-addon2">Reply</button>
                                 </form>
                          </div>

                    <div id="comment-replies-{{comment.id}}" class="collapse {% if auto_collapse == None %} {% else %} show {% endif %}">
                        {%- if comment.replies is defined %}
                            {{render_comments(comment.replies, indent + 1, auto_collapse, comments_page)}}
                        {%- endif %}
                    </div>
            </div>

    {%- endfor %}
{%- endmacro %}


{% macro paginate(comments) %}
    <nav aria-label="Page navigation" class="my-3">
                      <ul class="pagination d-flex justify-content-center">
                            {% if comments.has_prev %}
                                <li class="page-item">
                                    <a class="page-link"
                                       href="{{url_for('watch', page=comments.prev_num)}}?v={{video_id}}">Previous</a>
                                </li>
                            {% endif %}

                            {% for page_num in comments.iter_pages() %}
                                {% if page_num %}
                                    {% if page_num != comments.page %}
                                        <li class="page-item">
                                            <a class="page-link"
                                               href="{{url_for('watch', page=page_num)}}?v={{video_id}}">{{page_num}}</a>
                                        </li>
                                    {% else %}
                                        <li class="page-item active">
                                            <a class="page-link"
                                               href="{{url_for('watch', page=page_num)}}?v={{video_id}}">{{page_num}}</a>
                                        </li>
                                    {% endif %}
                               {% else %}
                                   <li>
                                       <span class="ellipsis" style="white-space; nowrap; overflow: hidden; text-overflow: ellipsis">…</span>
                                   </li>
                               {% endif %}
                            {% endfor %}


                          {% if comments.has_next %}
                            <li class="page-item">
                                <a class="page-link"
                                   href="{{url_for('watch', page=comments.next_num)}}?v={{video_id}}">Next</a>
                            </li>
                          {% endif %}
                      </ul>

                    {% if comments.items |length %}
                        <p class="text-right mt-3">
                           Showing page {{ comments.page }} of {{ comments.pages }}
                        </p>
                    {% endif %}
                </nav>
{% endmacro %}