{% from "macros.html" import render_comments, paginate with context%}
{% extends "layout.html" %}

{% block extra_head %}
    <meta name="video_id" content="{{video_id}}">

    <link href="/static/styles/watch.css" rel="stylesheet">
    <script src="/static/edit.js"></script>

{% endblock %}

{% block title%} {{video_id}} {% endblock %}

{% block content %}
<div class="container-sm">
      <div id="video-container" class="ratio ratio-16x9 my-3">
            <iframe width="1280" height="720" loading="lazy"
                src="https://www.youtube-nocookie.com/embed/{{video_id}}"
                title="YouTube video player" frameborder="0"
                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                allowfullscreen>
            </iframe>

        <!--TODO: use invidious embed
        <iframe id='ivplayer' width='640' height='360' src='https://invidious.xyz/embed/{{video_id}}' style='border:none;'></iframe>
          -->
      </div>

    <hr>

      <div class="rounded container-fluid p-0">
            <div class="d-flex flex-row pt-3" id="comments-general-info">
                <div class="pe-3 ps-1 d-flex flex-column justify-content-center">
                    <p class="m-0">{{num_comments}} Comment{{'s' if num_comments != 1 else ''}}</p>
                </div>
                <div class="dropdown" id="comments-sort-dropdown">
                        <button class="btn btn-secondary dropdown-toggle btn-sm" type="button" id="dropdownMenuSortButton" data-bs-toggle="dropdown" aria-expanded="false">
                            Sort By
                        </button>

                        <ul class="dropdown-menu" aria-labelledby="dropdownMenuSortButton">
                            <li>
                                <form action="{{url_for('watch')}}" method="POST">
                                    <input type="hidden" name="video_id" value={{video_id}}>
                                    <input type="hidden" name="action" value="sort">
                                    <input type="hidden" name="sort_by" value="upload_date">
                                    <input type="hidden" name="sort_order" value="{{current_order}}">
                                    <button type="submit" class="dropdown-item {{'active' if current_sorting == 'upload_date' else ''}}" href="#">
                                        Upload Date ({{"Ascending" if current_order=="asc" else "Descending"}})
                                    </button>
                                </form>
                            </li>
                            <li>
                                <form action="{{url_for('watch')}}" method="POST">
                                    <input type="hidden" name="video_id" value={{video_id}}>
                                    <input type="hidden" name="action" value="sort">
                                    <input type="hidden" name="sort_by" value="rating">
                                    <input type="hidden" name="sort_order" value="{{current_order}}">
                                    <button type="submit" class="dropdown-item {{'active' if current_sorting == 'rating' else ''}}" href="#">
                                        Rating ({{"Ascending" if current_order=="asc" else "Descending"}})
                                    </button>
                                </form>
                            </li>
                        </ul>
                 </div>
            </div>

             <div id="comment_input" class="pt-4">
                 <form class="input-group mb-3" action="{{url_for('watch', page=comments.page)}}" method="POST">
                    <input id="add-comment-input" type="text" class="form-control" name="message" placeholder="Comment message" aria-label="Comment message" aria-describedby="button-addon2">
                     <input type="hidden" name="action" value="add">
                     <input type="hidden" name="video_id" value={{video_id}}>
                     <button class="btn btn-outline-primary" type="submit" id="button-addon2">Send</button>
                 </form>
             </div>

            <div id="comments" class="py-2">

                  <!-- cool spinner
                  <div class="d-flex justify-content-center mb-3">
                    <div class="spinner-border" role="status"></div>
                  </div>-->
                {{ render_comments(comments.items, 0, auto_collapse, comments.page) }}

                {{ paginate(comments) }}
            </div>
      </div>

</div>

<script type="text/javascript">

    function upvote_comment(c_id) {
        {% if current_user.is_authenticated %}
            const url = '{{url_for("comments_api.upvote_comment")}}';

            send_post(url, {
                comment_id: c_id,
            }).then(function(res) {
                if (!res.isError) {
                    update_comment_votes(res, c_id);
                }
        })
        {% endif %}
    }

    function downvote_comment(c_id) {
       {% if current_user.is_authenticated %}
            const url = '{{url_for("comments_api.downvote_comment")}}';

            send_post(url, {
                comment_id: c_id,
            }).then(function(res) {
                if (!res.isError) {
                    update_comment_votes(res, c_id);
                }
        })
        {% endif %}
    }

    function update_comment_votes(vote_info, c_id) {

            // Update Downvote Icon and count
            const downvote_icon = document.getElementById("comment-"+c_id+"-downvote-svg");

            const downvote_element = document.getElementById("comment-"+c_id+"-downvote-count");
            downvote_element.innerHTML = vote_info.downvotes;

            if (vote_info.has_downvoted) {
                downvote_icon.setAttribute("class", "comment-interaction interacted-active");
            }else {
                downvote_icon.setAttribute("class", "comment-interaction");
            }

            // Update Upvote Icon and count
            const upvote_icon = document.getElementById("comment-"+c_id+"-upvote-svg");

            const upvote_element = document.getElementById("comment-"+c_id+"-upvote-count");
            upvote_element.innerHTML = vote_info.upvotes;

            if (vote_info.has_upvoted) {
                upvote_icon.setAttribute("class", "comment-interaction interacted-active");
            }else {
                upvote_icon.setAttribute("class", "comment-interaction");
            }
    }

    function send_post(url, data) {
        return fetch(url, {
            method: 'POST',
            credentials: 'include',
            body: JSON.stringify(data),
            headers: {
                'Content-Type': 'application/json'
            }
        })
        .then(res => res.json())


    }
</script>


{% endblock %}
